<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279740983075-e1do52t8vqgaoe8m2o03kjqn9h3os1t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279740983075-e1do52t8vqgaoe8m2o03kjqn9h3os1t8</string>
	<key>API_KEY</key>
	<string>AIzaSyBpDRSFuxP183w12GRxuGefT7ohfmIJdGw</string>
	<key>GCM_SENDER_ID</key>
	<string>279740983075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostels.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>semper-elections</string>
	<key>STORAGE_BUCKET</key>
	<string>semper-elections.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279740983075:ios:a5c634a9fb0d376a04ce96</string>
</dict>
</plist>